@import "./variables";

.text-input {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    color: $color-text-dark;
    font-size: 14px;
    font-weight: 500;
  }

  input {
    padding: 12px;
    border: 1px solid $color-border-light;
    border-radius: 6px;
    outline: none;
    font-size: 14px;

    &:focus {
      border-color: $color-brand-maroon;
    }
  }
}

.primary-btn {
  background: $color-brand-maroon;
  color: white;
  padding: 12px 16px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 8px;

  &.full {
    width: 100%;
  }
}
