.dashboard-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  gap: 8px;
}

.tab {
  background-color: transparent;
  border-radius: 12px;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  color: #2c2c2c;
  font-weight: 500;
}

.tab.active {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.add-book-btn {
  background-color: #88001b;
  color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
